<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Welcome to clojure-store</title>

		{% style """/assets/bulma/css/bulma.min.css" %}
		{% style """/assets/font-awesome/css/all.css" %}

		{% style """/css/screen.css" %}
	</head>
	<body>
		<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
			<div class="navbar-brand">
				<a class="navbar-item" href="/">clojure-store</a>
				<a role="button" class="navbar-burger is-active" data-target="navMenu" aria-label="menu" aria-expanded="true">
					<span aria-hidden="true"></span>
					<span aria-hidden="true"></span>
					<span aria-hidden="true"></span>
				</a>
			</div>
			<div class="navbar-menu is-active" id="navMenu">
				<div class="navbar-start">
					<a href="/" class="navbar-item {% ifequal page "dashboard.html" %}is-active{%endifequal%}">Dashboard</a>
					<a href="/order" class="navbar-item {% ifequal page "order.html" %}is-active{%endifequal%}">Order</a>
				</div>
			</div>
		</nav>

		<section class="section">
			<div class="container">
				{% block content %}
				{% endblock %}
			</div>
		</section>

		<script type="text/javascript">
			document.addEventListener('DOMContentLoaded', () => {
				const navbarBurger = document.querySelector('.navbar-burger');
				const nav = document.getElementById(navbarBurger.dataset.target);

				// Hamburger menu defaults open for no JS support, collapse it back
				navbarBurger.classList.toggle('is-active');
				nav.classList.toggle('is-active');
				navbarBurger.addEventListener('click', () => {
					navbarBurger.classList.toggle('is-active');
					nav.classList.toggle('is-active');
				});
			});
		</script>
	</body>
</html>
