{% extends "base.html" %}
{% block content %}
<h1 class="title">Administrator Dashboard</h1>
<div class="container">
	<h2 class="subtitle">Stock</h2>
	{% if stock|not-empty %}
	<div class="table-container">
		<table class="table is-striped is-bordered">
			<thead>
				<tr>
					<th>Option Type</th>
					<th>Option Name</th>
					<th>Stock Count</th>
				</tr>
			</thead>
			<tbody>
				{% for option in stock %}
				<tr>
					<td>{{ option.tshirt_option_type_name }}</td>
					<td>{{ option.tshirt_option_name }}</td>
					<td>{{ option.stock_count }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	{% else %}
	<article class="message is-info">
		<div class="message-header">
			<p>No Stock Limits</p>
		</div>
		<div class="message-body">No stock limits are currently set for any t-shirt options. Set stock limits below.</div>
	</article>
	{% endif %}

	{% if options|not-empty %}
	<form method="POST" action="/dashboard/stock">
		{% csrf-field %}
		<div class="field">
			<label class="label" for="option-id">Option <span class="required-field">*</span></label>
			<div class="control">
				<div class="select">
					<select id="option-id" name="option-id" required>
						{% for option in options %}
						<option value="{{ option.id }}">{{ option.tshirt_option_type_name }} - {{ option.tshirt_option_name }}</option>
						{% endfor %}
					</select>
				</div>
			</div>
		</div>

		<div class="field">
			<label class="label" for="stock">Stock (+/-)</label>
			<div class="control has-icons-left">
				<input class="input" type="number" id="quantity" name="quantity" placeholder="0">
				<span class="icon is-small is-left">
					<i class="fa-solid fa-cubes"></i>
				</span>
			</div>
		</div>

		<div class="field">
			<div class="control">
				<input value="Update Stock" class="button is-primary" type="submit" name="action" >
				<input value="Remove Option" class="button is-danger" type="submit" name="action">
			</div>
		</div>
	</form>
	{% else %}
	<article class="message is-info">
		<div class="message-header">
			<p>No Options Found</p>
		</div>
		<div class="message-body">No t-shirt options have been found. This may be due to non being setup, or all of them being disabled.</div>
	</article>
	{% endif %}
	<hr>

	<h2 class="subtitle">Orders</h2>
	{% if orders|not-empty %}
	<div class="table-container">
		<table class="table is-striped is-bordered">
			<thead>
				<tr>
					<th>ID</th>
					<th>Name</th>
					<th>Email</th>
					<th>Phone Number</th>
					<th>Shipping Address</th>
					<th>Delivery Details</th>
					<th>Quantity</th>
					<th>Price</th>
					<th>Delivered</th>
					{% for option-type in option-types %}
					<td>{{ option-type.tshirt_option_type_name }}</td>
					{% endfor %}
				</tr>
			</thead>
			<tbody>
				{% for order in orders %}
				<form method="POST" action="/dashboard/order">
					{% csrf-field %}
					<input id="order-id" name="order-id" type="hidden" value="{{ order.id }}" />
					<tr>
						<th>{{ order.id }}</th>
						<td>{{ order.full_name }}</td>
						<td>{{ order.email }}</td>
						<td>{{ order.phone_number }}</td>
						<td>{{ order.shipping_address }}</td>
						<td>{{ order.delivery_details }}</td>
						<td>{{ order.quantity }}</td>
						<td>£{{ order.price }}</td>
						<td>
							<div class="field">
								<div class="control">
									{% ifequal order.delivered "0" %}
									<input value="Set Delivered" class="button is-primary" type="submit" name="action" >
									{% else %}
									<input value="Set Undelivered" class="button is-danger" type="submit" name="action">
									{% endifequal %}
								</div>
							</div>
						</td>
						{% for option-type in option-types %}
						{% for option in order.tshirt_options %}
						{% if option.tshirt_option_type_id = option-type.id %}
						<td>{{ option.tshirt_option_value }}</td>
						{% endif %}
						{% endfor %}
						{% endfor %}
					</tr>
				</form>
				{% endfor %}
			</tbody>
		</table>
	</div>
	{% else %}
	<article class="message is-info">
		<div class="message-header">
			<p>No Orders Found</p>
		</div>
		<div class="message-body">No orders have been found.</div>
	</article>
	{% endif %}
	<hr>
</div>
{% endblock %}
