{% extends "base.html" %}
{% block content %}
<h1 class="title">T-Shirt Order Form</h1>
<div class="container">
	<form method="POST">
		{% csrf-field %}
		<h2 class="subtitle">Personal Details</h2>
		<div class="field">
			<label class="label" for="full_name">Full Name <span class="required-field">*</span></label>
			<div class="control has-icons-left has-icons-right">
				<input value="{{ full_name }}" class="input {% if errors.full_name %}is-danger{% endif %}" type="text" id="full_name" name="full_name" placeholder="First Last" required>
				<span class="icon is-small is-left">
					<i class="fa-solid fa-user"></i>
				</span>
				{% if errors.full_name %}
				<span class="icon is-small is-right">
					<i class="fas fa-exclamation-triangle"></i>
				</span>
				{% endif %}
			</div>
			{% if errors.full_name %}
			<p class="help is-danger">{{ errors.full_name }}</p>
			{% endif %}
		</div>

		<div class="field">
			<label class="label" for="email">Email <span class="required-field">*</span></label>
			<div class="control has-icons-left has-icons-right">
				<input value="{{ email }}" class="input {% if errors.email %}is-danger{% endif %}" type="email" id="email" name="email" placeholder="user@domain.tld" required>
				<span class="icon is-small is-left">
					<i class="fa-solid fa-envelope"></i>
				</span>
				{% if errors.email %}
				<span class="icon is-small is-right">
					<i class="fas fa-exclamation-triangle"></i>
				</span>
				{% endif %}
			</div>
			{% if errors.email %}
			<p class="help is-danger">{{ errors.email }}</p>
			{% endif %}
		</div>

		<div class="field">
			<label class="label" for="phone_number">Phone Number <span class="required-field">*</span></label>
			<div class="control has-icons-left  has-icons-right">
				<input value="{{ phone_number }}" class="input {% if errors.phone_number %}is-danger{% endif %}" type="tel" id="phone_number" name="phone_number" placeholder="00000 000 000" required>
				<span class="icon is-small is-left">
					<i class="fa-solid fa-phone"></i>
				</span>
				{% if errors.phone_number %}
				<span class="icon is-small is-right">
					<i class="fas fa-exclamation-triangle"></i>
				</span>
				{% endif %}
			</div>
			{% if errors.phone_number %}
			<p class="help is-danger">{{ errors.phone_number }}</p>
			{% endif %}
		</div>

		<div class="field">
			<label class="label" for="shipping_address">Shipping Address <span class="required-field">*</span></label>
			<div class="control">
				<textarea class="textarea {% if errors.shipping_address %}is-danger{% endif %}" type="text" id="shipping_address" name="shipping_address" placeholder="Where to ship the order to" rows="3" required>{{ shipping_address }}</textarea>
			</div>
			{% if errors.shipping_address %}
			<p class="help is-danger">{{ errors.shipping_address }}</p>
			{% endif %}
		</div>
		<hr>

		<h2 class="subtitle">T-Shirt Options</h2>
		{% for option-type in option-types %}
		<div class="field">
			<label class="label" for="{{ option-type.tshirt_option_type_name }}">{{ option-type.tshirt_option_type_name }} <span class="required-field">*</span></label>
			<div class="control">
				<div class="select">
					<select id="{{ option-type.tshirt_option_type_name|lower }}" name="{{ option-type.tshirt_option_type_name|lower }}" required>
						{% for option in options %}
						{% if option-type.id = option.tshirt_option_type_id %}
						<option value="{{ option.tshirt_option_name }}">{{ option.tshirt_option_name }}</option>
						{% endif %}
						{% endfor %}
					</select>
				</div>
			</div>
		</div>
		{% endfor %}
		<hr>

		<h2 class="subtitle">Order Details</h2>
		<div class="field">
			<label class="label" for="delivery_details">Delivery Details</label>
			<div class="control">
				<textarea class="textarea {% if errors.delivery_details %}is-danger{% endif %}" type="text" id="delivery_details" name="delivery_details" placeholder="Additional details" rows="2">{{ delivery_details }}</textarea>
			</div>
			{% if errors.delivery_details %}
			<p class="help is-danger">{{ errors.delivery_details }}</p>
			{% endif %}
		</div>

		<div class="field">
			<label class="label" for="quantity">Quantity <span class="required-field">*</span></label>
			<div class="control has-icons-left has-icons-right">
				<input value="{{ quantity }}" class="input {% if errors.quantity %}is-danger{% endif %}" type="number" id="quantity" name="quantity" placeholder="1" min="1" required>
				<span class="icon is-small is-left">
					<i class="fa-solid fa-shirt"></i>
				</span>
				{% if errors.quantity %}
				<span class="icon is-small is-right">
					<i class="fas fa-exclamation-triangle"></i>
				</span>
				{% endif %}
			</div>
			{% if errors.quantity %}
			<p class="help is-danger">{{ errors.quantity }}</p>
			{% endif %}
		</div>

		<div class="field">
			<div class="control">
				<button class="button is-primary">Place Order</button>
			</div>
		</div>
	</form>
</div>
{% endblock %}
